[Desktop Entry]
Type=ControlPanelApplet
Name=Declarative Example
Icon=

[MTS]
Part=/usr/share/meego-ux-settings/Example/declarativeexample.xml
Section=Settings
