[Desktop Entry]
Type=ControlPanelApplet
Name=Time and Date
Name[zh_TW]=時間與日期
Name[zh_CN]=时间和日期
Name[tr]=Tarih ve Saat
Name[sv]=Tid och datum
Name[ru]=Время и дата
Name[pt_PT]=Data e Hora
Name[pt_BR]=Data e hora
Name[pl]=Godzina i data
Name[no]=Tid og dato
Name[nl]=Tijd en datum
Name[ko]=시간 및 날짜
Name[ja]=時刻と日付
Name[it]=Data e ora
Name[hu]=Idő és dátum
Name[fr]=Date et heure
Name[fi]=Aika ja päivämäärä
Name[es]=Hora y fecha
Name[en_US]=Time and Date
Name[en_GB]=Time and Date
Name[el]=Ώρα και ημερομηνία
Name[de]=Uhrzeit und Datum
Name[da]=Klokkeslæt og dato
Name[cs]=Čas a datum
Icon=datetime

[MTS]
Part=/usr/share/meego-ux-settings/TimeDate/TimeDateSettings.qml
