[Desktop Entry]
Type=ControlPanelApplet
Name=Sound
Name[zh_TW]=音效
Name[zh_CN]=声音
Name[tr]=Ses
Name[sv]=Ljud
Name[ru]=Звук
Name[pt_PT]=Som
Name[pt_BR]=Som
Name[pl]=Dźwięk
Name[no]=Lyd
Name[nl]=Geluid
Name[ko]=소리
Name[ja]=サウンド
Name[it]=Audio
Name[hu]=Hang
Name[fr]=Son
Name[fi]=Ääni
Name[es]=Volumen
Name[en_US]=Sound
Name[en_GB]=Sound
Name[el]=Ήχος
Name[de]=Audio
Name[da]=Lyd
Name[cs]=Zvuk
Icon=sound

[MTS]
Part=/usr/share/meego-ux-settings/Volume/VolumeSettings.qml
